<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">WANDERING</h1>
			<div class="poembody">
				<p>I too play at the edges of knowing.</p>
				<p>I walk riverbanks in pale pink morning,</p>
				<p>leave my boots muddy</p>
				<p>at the door to places</p>
				<p class="mb-4">I never fully call home.</p>

				<p>I do not feel the need to carve</p>
				<p>my initials into this landscape,</p>
				<p class="mb-4">I pray for impermanence.</p>

				<p class="ml-8">A snowflake poised</p>
				<p class="ml-8">on my son's pink nose,</p>
				<p class="ml-8">melts into pore-less sking.</p>
				<p class="ml-8 mb-4">His eyes wide,</p>
				<p class="ml-16">amazed.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png', class:"h-[100vh] w-[10vh]" %>
	</div>
</div>