
<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="bg-gray-300 flex flex-col justify-start py-[3vh] px-40 rounded-r-lg font-garamond text-xl">
			<h1 class="text-gray-700 font-abril text-7xl mb-4">EARLY SNOW</h1>
			<p>The snow came early this year:</p>
			<p>On a day when clouds and fog</p>
			<p>Filled the canyon, obscuring</p>
			<p>The last gold of the cottonwoods,</p>
			<p>And the odor of wet dirt</p>
			<p>Clouded the senses.</p>
			<p>Small flocks of robins</p>
			<p>Perched on trees like ripened fruit,</p>
			<p>And waited for some memory</p>
			<p>To send them south,</p>
			<p>But when the mist lifted</p>
			<p>Gray and black juncos</p>
			<p>Had replaced them,</p>
			<p>Each one remembering snow</p>
			<p>For the first time,</p>
			<p>Knowing something never seen before.</p>
			<p>Summer is gone</p>
			<p>Fall has passed;</p>
			<p>Soon the sunlight</p>
			<p>Will not reach the canyon floor</p>
			<p>Before noon.</p>
			<p>The nights last longer</p>
			<p>Than the days.</p>
			<p>The last leaves float down</p>
			<p>The clear shallow creek.</p>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center">
		</div>
	</div>
	<div class="flex justify-center w-[10vw] bg-black">
		<%= image_tag 'artists/bgreen.png', class:"h-[100vh] w-[10vh]" %>
	</div>
</div>