<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">BEGINNINGS</h1>
			<div class="poembody">
				<p>Seeds, first steps,</p>
				<p>glint in the eye,</p>
				<p>the way you turn to me</p>
				<p>although a stranger</p>
				<p class="mb-4">in the grocery aisle.</p>

				<p>Some storms, elections,</p>
				<p>a newly replaced battery,</p>
				<p>birthday card with a check</p>
				<p class="mb-4">from a sad relative.</p>

				<p>A corpse on display</p>
				<p>for the grieving family,</p>
				<p>a chair for the tired</p>
				<p>foreign language</p>
				<p class="mb-4">on tour with friends,</p>

				<p>art display on Tuesday,</p>
				<p>amaryllis in a corner pot,</p>
				<p>a recipe for six,</p>
				<p>round glass of wine,</p>
				<p class="mb-4">this conversation,</p>

				<p>your staying</p>
				<p>here with me.</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">TAKING FLIGHT</h1>
			<div class="poembody">
				<p>Every year, it seems</p>
				<p class="mb-4">I fly a bit more.</p>

				<p>The wings brittle,</p>
				<p class="mb-4">feathery.</p>

				<p>maybe even a formation,</p>
				<p class="mb-4">part of the ether</p>

				<p>to someone looking</p>
				<p class="mb-4">up from below.</p>

				<p>A kind of</p>
				<p class="mb-4">moving shadow.</p>

				<p>Someday I won't return</p>
				<p class="mb-4">even in spring.</p>

				<p>There won't be</p>
				<p>a nest to build, twigs,</p>
				<p class="mb-4">berries, or earth.</p>

				<p>See how I swoop</p>
				<p class="mb-4">with my heavy body</p>

				<p>now lighter than</p>
				<p class="mb-4">a poem</p>

				<p>whispering in wind,</p>
				<p class="mb-4">a near ghost.</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">RECOVERY</h1>
			<div class="poembody">
				<p>Who would have thought</p>
				<p class="mb-4">I would not be gone?</p>

				<p>The gods of chemotherapy</p>
				<p>determined otherwise</p>
				<p>and this body still</p>
				<p>wakes and dances and loves</p>
				<p>like the newly reborn</p>
				<p class="mb-4">I stubbornly am.</p>

				<p>To be sure, there was</p>
				<p>the bald head, blood oozing</p>
				<p>from stomach and mouth</p>
				<p>and ass, nerve endings</p>
				<p>like hotwires on fire</p>
				<p class="mb-4">and a frame thin as a leaf.</p>

				<p>But who can deny</p>
				<p>a semi-miracle</p>
				<p class="mb-4">that beggars all odds?</p>

				<p>A story worth telling</p>
				<p class="mb-4">and a survival</p>

				<p>that sings</p>
				<p>to the roof-tops</p>
				<p class="mb-4">and trembles the air.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/dradavich.png' %>
	</div>
</div>