<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">FLOWERED</h1>
			<div class="poembody">
				<p>Skin so red, it's not the blood, but petals fallen from the</p>
				<p>poppies growing on his grave.</p>
				<p>He fell, you broke under his gaze, and shells you gathered on</p>
				<p>the beach were rubble,</p>
				<p>broken feet from stepping over, finding no one.</p>
				<p>Shards were words he gasped in tongues you couldn't</p>
				<p>recognise, now you can't ask him as he chose the easy way,</p>
				<p>a tattered note, letters you were blinded by, you could not find</p>
				<p>the words until the anger cooled.</p>
				<p>Now you're left with bitterness, and everything tastes sour</p>
				<p>except the sweet taste of finality.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/erosier.png' %>
	</div>
</div>