<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">RESURRECTION</h1>
			<div class="poembody">
				<h2 class="font-abril text-5xl mb-4 ml-16">I</h2>
				<p>To be beyond fragile body--</p>
				<p class="mb-4">material decays into dissipating energy,</p>

				<p>concentric echoes across water. Foam</p>
				<p class="mb-4">blesses sand, polishes</p>

				<p>stones. The waves as progenitor</p>
				<p class="mb-4">and grave, the shore</p>

				<p class="mb-4">a transition to survival.</p>

				<h2 class="font-abril text-5xl my-4 ml-16">II</h2>
				<p>Ammonites exposed by blowing</p>
				<p class="mb-4">dust peek through shrunken</p>

				<p>wildflowers--antique</p>
				<p class="mb-4">remains, cracked wood with bark</p>

				<p>that chokes ants. In the shush, the resonance</p>
				<p class="mb-4">of brass bells across scrublands</p>

				<p>demands a return to values and fear</p>
				<p class="mb-4">handed down by gods. Organ pipes</p>

				<p>wail, unaware of yellow balloons</p>
				<p class="mb-4">roaming. Without tongues,</p>

				<p>the fossils can't taste</p>
				<p class="mb-4">the absence of dew.</p>

				<h2 class="font-abril text-5xl my-4 ml-16">III</h2>
				<p>On the other hand, an appearance</p>
				<p class="mb-4">in dreams as if embraced by gold auras--</p>

				<p>an appearance so real that everyone else</p>
				<p class="mb-4">is flat and caricatured. what of their</p>

				<p>self awareness? The shimmer implies</p>
				<p class="mb-4">a consciousness, energy that visits from</p>

				<p>beyond, that remembers</p>
				<p class="mb-4">and understands.</p>

				<h2 class="font-abril text-5xl my-4 ml-16">IV</h2>
				<p>Rippling streamers illustrate</p>
				<p class="mb-4">the movement of air--not stagnation</p>

				<p>of scum on ponds but the reflection of light</p>
				<p class="mb-4">back towards the sun: the moon slumbers</p>

				<p class="mb-4">below sea and salt, restless to wake.</p>

				<h2 class="font-abril text-5xl my-4 ml-16">V</h2>
				<p class="mb-4">Is this the legacy you want to leave behind?</p>

				<p>Systemic changes cross webs, lost</p>
				<p class="mb-4">spiders in the air. To be far-reaching,</p>

				<p>you must create a compendium of ice and wood,</p>
				<p class="mb-4">travel beyond the layer of clouds</p>

				<p>that installs itself on the museum wall. Tipped</p>
				<p class="mb-4">on its side, the sun wheels through haze and</p>

				<p>heat until nothing is left but fragments and</p>
				<p class="mb-4">those who remember.</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">WILL-O'-THE-WISP</h1>
			<div class="poembody">
				<p>I flare my inner lantern in pulses</p>
				<p>until you see my iron illumination,</p>
				<p>the fleshy centipedes that scurry beneath rocks</p>
				<p>when morning breaks. Some call</p>
				<p>me a devil, a harbinger who leads to the truth</p>
				<p>that's sought, the peat exhumed from smoky bogs.</p>
				<p>Hovering, waiting, I see your shadow</p>
				<p>appear in shimmers of spring fog that slip</p>
				<p>between waves and dune in the night. I turn</p>
				<p>and float a red salamander sliding beneath stars,</p>
				<p>past the creek filled with old tires, past</p>
				<p>the bend where rebar protrudes from tossed</p>
				<p>concrete and gray clay supports the bluff. Drifting</p>
				<p>inland, my light as hot as Betelgeuse smolders and trails,</p>
				<p>entices, encourages. The rusting cage of monkey bars</p>
				<p>brightens as if touched by the moon and through</p>
				<p>the sneezy weeds, the path opens between</p>
				<p>the stern oak, the coy maple where the afterglow</p>
				<p>of autumn bonfires haunts iron gate. White</p>
				<p>sentinels of birch guard fallen logs that rot</p>
				<p>and peel, sandy pine hollows hang moss to dry</p>
				<p>in the coming summer, and the pit emerges with its sharp</p>
				<p>slopes, spongy ground covered in pine needles, broken</p>
				<p>branches housing ants and beetles. Across the far</p>
				<p>side of the pit and I hear you panting as I extinguish</p>
				<p>my light, reappearing through the trees, wind fanning my flames. With</p>
				<p>the brilliance of Mars, I flash bright as lightning and the woods vanish</p>
				<p>under my illusion, replaced with a barren</p>
				<p>field of dirt and rock. The trees clear-cut, houses appear</p>
				<p>in two rows from bluff to road. Fences are erected, "No Trespassing"</p>
				<p>signs nailed up. Brambles pierce skin as I release the vision,</p>
				<p>and in the dark, I see you collapse to your knees. The wind</p>
				<p>stops blowing, the owls hush, and you</p>
				<p>slowly stand and head toward the road.</p>
			</div>
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/ewij.png' %>
	</div>
</div>