<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">WINGS</h1>
			<div class="poembody">
				<p>I humbled myself with</p>
				<p>scarves</p>
				<p>veils</p>
				<p>abayas</p>
				<p>stood on the ledge</p>
				<p>timid</p>
				<p class="mb-4">and jumped</p>

				<p>no air in my lungs as I plunged downwards</p>
				<p class="mb-4">punished by gravity for daring</p>

				<p>I tried again</p>
				<p>wrenched swords from green and white fabric</p>
				<p>that served only to pierce my belly</p>
				<p class="mb-4">spilling the honey from inside</p>

				<p>I dug my nails into the glass</p>
				<p>climbed upwards</p>
				<p>renewal that I demanded</p>
				<p class="mb-4">never offered</p>

				<p>I stared out across the great desert of sky</p>
				<p>and breathed</p>
				<p>and prayed</p>
				<p class="mb-4">and breathed</p>

				<p>I pasted scared texts of olives and figs</p>
				<p>together with sermons</p>
				<p>of self-help and love languages</p>
				<p>stapled into my shoulders</p>
				<p class="mb-4">iron curled around the marrow of my bones</p>

				<p>and still i fell down</p>
				<p>flapping my arms</p>
				<p>useless as the promises of salted earth</p>
				<p>tatters of words</p>
				<p>like snow</p>
				<p class="mb-4">tumbling long after my plummet</p>

				<p>my body a battleground</p>
				<p class="mb-4">I wind just by making it back to the top</p>

				<p>I kept lists of my missteps</p>
				<p>learned the physics of my falls</p>
				<p>and with math and metal</p>
				<p>hammers and heat</p>
				<p class="mb-4">I forged a carriage</p>

				<p>it took me over the cliff</p>
				<p>and held me aloft</p>
				<p>and when the sun set</p>
				<p>my tired machine set me</p>
				<p>gentler than before</p>
				<p>on the earth</p>
				<p class="mb-4">where equilibrium commands</p>

				<p>it took me years to climb back up</p>
				<p>but when I did</p>
				<p>i knew the next time I jumped</p>
				<p class="mb-4">it would just be me</p>

				<p>so I patterned my flesh</p>
				<p>and traced it with a scalpel</p>
				<p>peeled it back</p>
				<p>stretchd it out</p>
				<p class="mb-4">made my history into vellum</p>

				<p>I stitched skin together with shaking hands</p>
				<p>into wings</p>
				<p>and instead of jumping</p>
				<p class="mb-4">this time</p>

				<p>fluttering and furious</p>
				<p>screaming peace at creation</p>
				<p class="mb-8">my feet left the ground</p>

				<p class="italic">the world is striking from here</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">SEEDS</h1>
			<div class="poembody">
				<p>You can bury</p>
				<p>A corpse in a ditch</p>
				<p class="mb-4">Or you can bury a seed</p>

				<p>Beware of those</p>
				<p>Who say, their treatment</p>
				<p class="mb-4">Is what made you tough</p>

				<p>Some insist</p>
				<p>That poisoned soil</p>
				<p class="mb-4">Grows nothing but salt</p>

				<p>After downpours</p>
				<p>Green springs up</p>
				<p class="mb-4">Chasing the sun and moon</p>

				<p>Dandelions</p>
				<p>Do not ask to be plucked</p>
				<p class="mb-4">But their seeds float anyway</p>

				<p>Considered weeds</p>
				<p>To adult minds, but</p>
				<p class="mb-4">Handled with love by children</p>

				<p>Feathers disperse</p>
				<p>Carried by breaths of wind</p>
				<p class="mb-4">To grow in brighter fields</p>

				<p>A final dance</p>
				<p>To those we lost</p>
				<p>And those who regrew</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/hjalal.png' %>
	</div>
</div>