<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">REVIVAL</h1>
			<div class="poembody">
				<p>I know spring</p>
				<p>is the mark of new life,</p>
				<p>but all I can think of when</p>
				<p>I see a tree heavy with white</p>
				<p>flowers swaying in the wind</p>
				<p class="mb-4">is the back of my grandmother's head,</p>

				<p>how her hair floated in curled pieces</p>
				<p>against her earlobe, soft</p>
				<p>against the nape</p>
				<p class="mb-4">of her neck.</p>

				<p>To watch the city change</p>
				<p>is a comfort</p>
				<p>every times.</p>
				<p class="mb-4">The earth knows what to do.</p>

				<p>This old girl turns young again</p>
				<p class="mb-4">and again.</p>

				<p>I smell it on the air</p>
				<p>a single breath of warmth making</p>
				<p>knuckles of green</p>
				<p>knot on the black fingers</p>
				<p class="mb-4">of bare branches.</p>

				<p>I see it in this morning's naked dogwood,</p>
				<p>thick with snow last month,</p>
				<p class="mb-4">flush tonight with little blossoms,</p>

				<p>darning a strange lace around</p>
				<p>a wilted balloon, twisted</p>
				<p class="mb-4">and stuck since autumn.</p>

				<p>I hear it in an old woman's voice</p>
				<p>as she talks about her husband,</p>
				<p>the way she says the word "love"</p>
				<p>like it's a flower</p>
				<p>blooming in her mouth.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png' %>
	</div>
</div>