<div class="flex">
    <div class="flex flex-col w-[90vw]">
        <div class="h-[5vh] bg-black"></div>
        <div class="poembox">
            <h1 class="poemtitle">EARTH</h1>
            <div class="poembody">
                <p>My life is getting small on me,</p>
                <p>the seams will burst.</p>
                <p>I'll be a perturbation in the air.</p>
                <p>A child will shiver for a moment,</p>
                <p>wondering, before she reaches for a sweater</p>
                <p class="mb-4">and goes out to play.</p>

                <p>What if fallen leaves could swirl the other way</p>
                <p>and reattach? If raindrops could reverse and fill</p>
                <p>the clouds, if rings of ripples could retract</p>
                <p>and be a dimple in the pond,</p>
                <p>the stone that made them</p>
                <p class="mb-4">flying out of water to my hand?</p>

                <p>The children grown,</p>
                <p>I'm free to be alone</p>
                <p>in all the sadness I was born with,</p>
                <p>genes engraved</p>
                <p class="mb-4">in kamenets-Podolsk.</p>

                <p>I can't tell love from need.</p>
                <p class="mb-4">If I were capable of love...</p>

                <p>Earth--when all the dust and gases settled,</p>
                <p>were you glad <span class="ml-8">or just surprised</span></p>
                <p>that you were born?</p>
            </div>
        </div>
        <div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
        </div>
    </div>
    <div class="poetname">
        <%= image_tag 'artists/jschmid.png' %>
    </div>
</div>