<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">EARLY THAW</h1>
			<div class="poembody">
				<p>The first budding oxalis blooms</p>
				<p>against old leaves of cast iron</p>
				<p>plants. This false spring is still too cold</p>
				<p>for strolling bare foot, or even</p>
				<p>in robe and slippers through first light,</p>
				<p>through the garden. I watch during</p>
				<p>a weeks' worth of mornings as blooms</p>
				<p>unfold, knowing one hard single</p>
				<p>freeze will see them browned and dying.</p>
				<p>Steam rises as i stir a cup</p>
				<p>of comfort, hot, sweet and herbal,</p>
				<p>a reminder that false starts aren't</p>
				<p>failures, just a break in seasons.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/kljohnston.png' %>
	</div>
</div>