<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">TOWARD NEW WATER</h1>
			<div class="poembody">
				<p class="m-4 italic">This way the crowd rushes toward new water</p>
				<p>I do but don't want to rush with them.</p>
				<p>Here, solo, time runs out. Equally vile,</p>
				<p>I hide my sigh. I want to float. Bring me water.</p>
				<p>Time brings me time. No water after time.</p>
				<p>And if - creations toppled and left for clean-up -</p>
				<p>I'm freed, you will watch me with no expectations</p>
				<p>walking slowly, hobbling where I soared.</p>
				<p>I'll give you my bones to prop up your chin,</p>
				<p>my sex to burn in your fireplace, my skull to roll</p>
				<p>in your games, my lessons to brace your limbs</p>
				<p>as you ache for peace and release from your pain.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png' %>
	</div>
</div>