
<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">JOURNEY</h1>
			<div class="poembody">
				<p>I will sketch space</p>
				<p class="pl-12">around my invisible steps</p>
				<p>stave the need to marry</p>
				<p class="pl-12">my footsteps to the earth;</p>

				<p class="mt-6">I know where I walk</p>
				<p class="pl-12">unweighted and deliberate</p>
				<p>I have sown forests</p>
				<p class="pl-12">have sung each leaf onto</p>

				<p class="mt-6">each branch that raised its</p>
				<p class="pl-12">spiny hand to me,</p>
				<p>and have sunk to my knees</p>
				<p class="pl-12">in the forgiving soil</p>

				<p class="mt-6">making no imprint and</p>
				<p class="pl-12">no sound;</p>
				<p>it does not matter -</p>
				<p class="pl-12">the rain will remember how</p>

				<p class="mt-6">it fell upon me</p>
				<p class="pl-12">and the oaks will vibrate</p>
				<p>where I sang,</p>
				<p class="pl-12">my silent lips lending</p>

				<p class="mt-6">urgency to</p>
				<p class="pl-12">the wind,</p>
				<p>and I will know</p>
				<p class="pl-12">where I have been.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center"></div>
		<div class="poembox">
			<h1 class="poemtitle">PRECIPICE</h1>
			<div class="poembody">
				<p class="pl-8">I opened my eyes</p>
				<p>an offering of release</p>
				<p>hands cupped, face lifted</p>
				<p>not waiting but</p>
				<p>poised to move</p>
				<p class="pl-8">while still.</p>

				<p class="mt-6 pl-8">The wind caught</p>
				<p>my hem, and</p>
				<p>lifting my steps</p>
				<p>wound  me into this</p>
				<p>annulus between known</p>
				<p class="pl-8">and unlocked.</p>

				<p class="mt-6 pl-8">Here it is like</p>
				<p>looking through water,</p>
				<p>now magnified</p>
				<p>now murky</p>
				<p>pulled by a gravity</p>
				<p class="pl-8">shifting without law.</p>

				<p class="mt-6 pl-8">The helical current</p>
				<p>turns like a key</p>
				<p>and I follow,</p>
				<p>my form lax and my</p>
				<p>eyes fixed on the door</p>
				<p class="pl-8">as it opens.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center"></div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/ldelan.png' %>
	</div>
</div>