<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">THE END</h1>
			<h2 class="italic text-sm text-end pr-4">After Leonard Cohen</h2>
			<div class="poembody">
				This is the end:
				<p class="ml-4">I won't fall at your heels. I will break</p>
				<p class="ml-4">promises, give up</p>
				<p class="ml-4 mb-4">these ghosts in exchange</p>
				<p class="ml-4">for shattered eternities. <span class="italic">This is the end:</span></p>
				<p class="ml-4">I won't collapse in your stagnant eyes.</p>
				<p class="ml-4">I won't</p>
				<p class="ml-4 mb-4">scour my shadow</p>
				<p class="ml-4">on yours again.</p>
				<p>I will open my mouth</p>
				<p class="text-sm">-- WIDE --</p>
				<p class="mb-4">I will tauten. I will nail</p>
				<p class="ml-4">a web of spurs</p>
				<p class="ml-4">above my catechism</p>
				<p class="ml-4">and stir</p>
				<p class="ml-4 mb-4">my absent sanity.</p>
				<p>I will not love you to the end</p>
				<p class="ml-4">of this pilgrimage</p>
				<p>I want to flay you,</p>
				<p class="ml-4 mb-4">to strip you</p>
				<p class="ml-4">from my surface. I want</p>
				<p class="ml-4">my grip to unshackle</p>
				<p class="ml-4">your grip</p>
				<p class="line-through mb-4">I don't want to be alive</p>
				with my voice
				<p class="ml-4">haunting
				<p class="ml-4">yet another sordid
				<p class="ml-4">love song.

				<p>For the sake of my armouries:</p>
				<p class="ml-4 text-sm">THIS IS THE END.</p>
				<p><span class="line-through">I will die now, love</span>. Do not torment me.</p>
				<p class="mb-4"><span class="line-through">I will die</span>. I'll have an untroubled expression</p>

				<p>-- <span class="line-through">and I will die, I will die</span>.</p>
				<p class="ml-4">Wether you loved me or not.</p>
				<p class="ml-4"><span class="tracking-[.25em]">this</span> <span class="tracking-[.25em]">is</span> <span class="tracking-[.25em]">the</span> <span class="tracking-[.25em]">end</span></p>
				<p class="ml-4 mb-4">the untouched earth.</p>

				<p>Categories of crow's feet</p>
				<p class="ml-4">and ashtray mouths.</p>
				<p>It won't be the way</p>
				<p class="ml-4 mb-4">we did it before:</p>

				<p class="ml-4">devouring you blindly;</p>
				<p class="ml-4">trusting you will not</p>
				<p class="ml-4">awaken and leave me.</p>
				<p class="mb-4">It will be something different.</p>

				<p>Something imperfect,</p>
				<p>Something childish.</p>
				<p>Something just like this, only</p>
				<p class="ml-4">cut to the bone.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/lvoivodeship.png' %>
	</div>
</div>