
<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">THE BETTER PART OF YESTERDAY</h1>
			<div class="poembody">
				<p>My heart is a deserted street</p>
				<p>in the middle of winter, dead</p>
				<p>leaves skittering in the dying</p>
				<p>afternoon light. I am a stop sign</p>
				<p>riddled with bullet holes,</p>
				<p>pinpicks of sunlight streaming</p>
				<p>through me. And you? You are</p>
				<p>everything -- the light and shadow</p>
				<p>the broken glass pane in which you</p>
				<p>can see everything. You are a street</p>
				<p>upon which I used to live, and I</p>
				<p>don't need a house to haunt you.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/mbrooks.png' %>
	</div>
</div>