<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">Four Haikus</h1>
			<div class="text-lg md:text-xl font-medium border-l-8 border-t-2 border-white rounded-tl-[40px] rounded-br-lg bg-gradient-to-br from-white via-gray-100 to-gray-300 pl-2 md:pl-8 py-8 text-center">
				<p>Cold incense burner</p>
				<p>In an abandoned temple</p>
				<p class="mb-8">Clear breeze blows... then stills</p>

				<p>Every thought I had</p>
				<p>Turned into a flock of crows</p>
				<p class="mb-8">Flew off, calling, <span class="italic">CAW!</span></p>

				<p>Under elder oak</p>
				<p>I watch the full moon slowly</p>
				<p class="mb-8">Jump from limb to limb</p>

				<p>Deep realities</p>
				<p>Explained to me wordlessly</p>
				<p>Language of the winds</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/scotto.png' %>
	</div>
</div>