<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">OVERWINTERING</h1>
			<div class="poembody">
				<p>We've scraped off the scab of winter, emerging drab</p>
				<p>and a little raw into an early spring, urgin the thaw</p>
				<p>to pass from slush and sludge to the tender grass</p>
				<p>we yearly equate with hope. Daffodils propagate</p>
				<p>down the slope of our yard in buoyant disregard</p>
				<p>of frost; with them the lightness we feared we'd lost</p>
				<p>slips in across the sill. Limpid lemon sun runs</p>
				<p>down the walls and we let it pool; birdcalls</p>
				<p>once more presage day. As green supplants gray</p>
				<p>the air turns soft, the scent of lilac carried aloft</p>
				<p>like pappi, or a silent prayer. I pry a pair</p>
				<p>of windows up; gloom abates, and rooms</p>
				<p>half-filled with stale ennui now exhale</p>
				<p>in relief. Blighted souls unfurl. We begin to leaf.</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">ITINERANTS</h1>
			<div class="poembody">
				<p>Would I had been pollinated</p>
				<p>like yarrow by a bee and not</p>
				<p>by this man, grin like a kid</p>
				<p>at the candy rack, hand so hot</p>
				<p>at the small of my back</p>
				<p class="mb-4">it raises a welt like a brand</p>

				<p>then my womb a mollusk shell</p>
				<p>constructed to shelter each embryo</p>
				<p>one born pink as a kitten's tongue,</p>
				<p>the other sparrow-scrawny</p>
				<p class="mb-4">and me cracking like an egg</p>

				<p>breast milk or mealworms it took</p>
				<p class="mb-4">all I had, they took all I had</p>

				<p>that grin like a lightning bug</p>
				<p class="mb-4">on and off, on and off</p>

				<p class="mb-4">what little he left us</p>

				<p>now those girls scuttle crablike,</p>
				<p>all jackknifed arms and legs,</p>
				<p>carrying me yoked</p>
				<p>like a borrowed home</p>
				<p class="mb-4">they'll soon enough outgrow</p>

				<p>look how everyone is</p>
				<p>always leaving</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">CHANCE</h1>
			<div class="poembody">
				<p>I was middle-aged, with minor expectations, mildly</p>
				<p>content within the edges of my days: stairs, stoop, the grid</p>
				<p>of streets, desk, ruled ledgers neatly stacked within reach.</p>
				<p class="mb-4">Stolid afternoons lined up like pencils in a drawer.</p>

				<p>A horn blared and I turned</p>
				<p>to see you rounding up apples that had rolled</p>
				<p>into the road. As if aspect had twisted</p>
				<p>on its axis, I fell captive to the curve of calf</p>
				<p>and cheek, parentheses of hips, parabolas</p>
				<p>of laughter that rose like balloons. Heart round</p>
				<p>and open as a ruby glass bowl, waiting</p>
				<p class="mb-4">to be filled.</p>

				<p>I picked up an apple, bruised</p>
				<p>and blushed, and set it in the palm</p>
				<p>of your hand.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png' %>
	</div>
</div>