<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">ECHO</h1>
			<div class="poembody">
				<p class="italic mb-4">After Adele Karmazyn's, "In Her Shadows"</p>

				<p>From her blue chair</p>
				<p class="mb-4">she spins kites & umbrellabirds</p>

				<p>so that the walls don't feel</p>
				<p class="mb-4">quite as grey or solid or cold.</p>

				<p>From her velvet chair</p>
				<p class="mb-4">she purls rivers & swimmers</p>

				<p>to flow through cracks in walls</p>
				<p class="mb-4">rush under a sky fragmented</p>

				<p>with clouds. <span class="ml-4">From</span> her cushioned</p>
				<p class="mb-4">cool she stands to braid a dress</p>

				<p>of orange, a shift of sunrise/lily/clownfish/</p>
				<p class="mb-4">corn snake/carnelian/tiger.</p>

				<p>From her wingback she surges</p>
				<p class="mb-4">forth to find moon <span class="ml-4">ravel it</span></p>

				<p>into her bodice <span class="ml-4">careens</span> from cloud</p>
				<p class="mb-4">to rivulet through walls of stellar nursery</p>

				<p>there to rediscover <span class="italic">flow</span> & <span class="italic">flight</span></p>
				<p class="mb-4"><span class="italic">wander/wonder</span> & <span class="italic">collapse/expand</span>--</p>

				<p>she flashes ruby & cobalt <span class="ml-4">kindles</span></p>
				<p class="mb-4">the dust & clouds that had</p>

				<p>entwiined with sternum & spine</p>
				<p class="mb-4">to ignit mnovas into ripple</p>

				<p>& echo.</p>

			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">EATING ROSES</h1>
			<div class="poembody">
				<p>As a child Mary Pickford ate</p>
				<p>roses, thinking they would bring her</p>
				<p>beauty, petal-deep</p>
				<p class="mb-4">& thorn-wise.</p>

				<p>When I was a child, I envied coleuses--</p>
				<p>their bronze leaves, ruby spines, green outlines,</p>
				<p>others solid magenta or lime-veined</p>
				<p>with cherry, the way they stationed</p>
				<p>themselves in a bed boxed by brick & stone,</p>
				<p>stood stolid, unimpressed</p>
				<p class="mb-4">by wind.</p>

				<p>As a young woman, I dreamed of blue flowers--</p>
				<p>rare in the vegetable kingdom--delphinium</p>
				<p>morning glories, lobelia, cornflower</p>
				<p>& those sky-clad forget-me-nots.</p>
				<p>I hoped their exotic pull would rub off on me</p>
				<p>& I would evoke ocean & moon</p>
				<p class="mb-4">in others.</p>

				<p>Now as sun wanes & moon</p>
				<p>illuminates crone fingers</p>
				<p>on oak & sycamore</p>
				<p>my eyes ogle zinnias & lily tongues</p>
				<p>& the bowl-petals of hibiscus</p>
				<p>that sing in the sliver</p>
				<p class="mb-4">of afternoon.</p>

				<p>And yet the faded lipstick colors of roses</p>
				<p>hum & whisper their fragrant</p>
				<p>secrets to me, inviting me</p>
				<p>to nibble on their petals</p>
				<p>held up by spines</p>
				<p>as green as moss</p>
				<p>in winter.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png', class:"h-[100vh] w-[10vh]" %>
	</div>
</div>