<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">BIG CUT STATION, VIRGINIA</h1>
			<div class="poembody">
				<p>I came late into the world, to</p>
				<p>my folks and their kin before</p>

				<p class="mt-6">them. I didn't come by the behest</p>
				<p>of some country to be beholden.</p>

				<p class="mt-6">And the love of Mama and Pa</p>
				<p>was the Gum Arabic</p>

				<p class="mt-6">to the blackberry ink of their</p>
				<p>mixed blood in me.</p>

				<p class="mt-6">Where my cheeks are pocked</p>
				<p>with iodine stains, I have shorn</p></p>

				<p class="mt-6">my wilderness, have nicked</p>
				<p>my past uneasily:</p>

				<p class="mt-6">my highland way, torn between</p>
				<p>allediance to a dignity</p>

				<p class="mt-6">I don't need to flaunt, and a </p>
				<p>preference for warth</p>

				<p class="mt-6">in the windborne cliffs that</p>
				<p>never howl my name.</p>
			</div>
		</div>
		<div class="h-[5vh] bg-black"></div>
		<div class="poembox">
			<h1 class="poemtitle">SHADY VALLEY, TENNESSEE</h1>
			<div class="poembody">
				<p class="mt-6">The mountains were at auction</p>
				<p>that summer they brought bank</p>

				<p class="mt-6">notes from every state, flooded the</p>
				<p>yet unflooded places like TVA did</p>

				<p class="mt-6">Watauga Lake where poplars got</p>
				<p>weak trembles and Holt's hidden</p>

				<p class="mt-6">casket floated up and furnished</p>
				<p>fibs from New Butler to Bitter End.</p>

				<p class="mt-6">The baby, she would walk and say</p>
				<p><span class="italic">Nantakeuh</span>, too, and even <span class="italic">Oo-ah-oo</span></p>

				<p class="mt-6">when that rooster <span class="italic">Cock-a-doodle</span></p>
				<p><span class="italic">dooed</span> on summer days</p>

				<p class="mt-6">that had change and life as a cushaw</p>
				<p>leaf has life, which will synthesize</p>

				<p class="mt-6">the bloom. August was the time</p>
				<p>I'll look back on and sigh</p>

				<p class="italic mt-6">The bantam was shootin' blanks</p>
				<p class="italic">but the hens were doin' fine.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black items-center">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'util/name.png' %>
	</div>
</div>