<div class="flex">
	<div class="flex flex-col w-[90vw]">
		<div class="poembox">
			<h1 class="poemtitle">BONES EMERGING</h1>
			<div class="poembody">
				<p>I am boiling water and still-</p>
				<p>She smells like a decomposing leaf,</p>
				<p>She grows new vertebrae;</p>
				<p>They blossom down her back</p>
				<p class="mb-4">While we sleep, her ribs multiply.</p>

				<p>The skin between her knuckles</p>
				<p>Is ash, dreaming paper, or</p>
				<p>Maybe, paper dreaming tree, or;</p>
				<p>A tree, just dreaming.</p>
				<p class="mb-4">She says her nails have stopped growing.</p>

				<p>Like a decomposing leaf;</p>
				<p>I mistook her</p>
				<p>For the lace of a curtain</p>
				<p>Fluttering.</p>
				<p>Behind my shoulder,</p>
				<p>As I smoked on the fire-escape;</p>
				<p>I recalled,</p>
				<p class="mb-4">She hadn't left the bed in days.</p>

				<p>There is a film that everyone should watch</p>
				<p>At least once in life, but I can't think of it now.</p>
			</div>
		</div>
		<div class="flex justify-end gap-4 items-center px-5 h-[10vh] bg-black">
		</div>
	</div>
	<div class="poetname">
		<%= image_tag 'artists/zschild.png' %>
	</div>
</div>