<div class="w-[100vw] flex flex-col gap-20">
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'yourvenus.jpg', class:"w-1/5" %>
		<%= image_tag 'resurrection.jpg', class:"w-1/5" %>
	</div>
	<div class="flex gap-20 justify-evenly align-center">
		<%= image_tag 'luckyman.jpg', class:"w-1/5" %>
		<%= image_tag 'setfiretotherain.jpg', class:"w-1/5" %>
	</div>
</div>