<div class="flex">
	<div class="w-[100px]">
		<%= image_tag 'util/artplate.png' %>
	</div>
	<div class="w-full flex flex-col font-inter text-white gap-8 py-4 pl-4 md:py-20 md:pl-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-50 w-full h-1"></div>
		<% @artists.each do |artist| %>
			<%= link_to artist do %>
				<div class="flex gap-2">
					<p class="flex items-center justify-end w-20 md:w-40 text-slate-300"><%= artist.first %></p>
					<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
					<p class="flex items-center font-black"><%= artist.last.upcase %></p>
				</div>
			<% end %>
		<% end %>

	</div>

</div>