<div class="flex flex-col md:flex-row justify-evenly">
  <div class="h-[100dvh] border-[40px] border-black flex justify-start items-center gap-6 text-white font-inter">
    <ul class="text-end font-black text-slate-300">
      <li>lone mountain</li>
      <li>literary</li>
      <li>society</li>
    </ul>
    <div class="bg-gradient-to-b from-slate-400 to-gray-100 h-[20%] md:h-[25%] w-1"></div>
    <ul class="text-start">
      <li>Lone Mountain Literary Society is a collective of writers, editors, and artists based out of San Francisco, California. We are chiefly interested in topics of reflection and transcendence in storytelling and visual art. We love the mysteriousness of metamorphosis, a bristling voice, beautiful craft, and writing that bends the philosophical mind and stirs emotions. Send us your beautiful, weird, experimental work!</li><br />
      <li>We are constantly looking to grow our scope and reach in the literary community. We strive to provide an excellent product and platform for our contributors' works, and a space in which everyone feels both welcome and comfortable. In the future, we look forward to hosting reading events, workshops, and writing labs. We especially want to grow organically in our local San Francisco literary community, and to host events and produce collaborative works that are accessible to local artists and are featured at local venues. </li>      
    </ul>
  </div>
  <div class="p-12 flex items-center">
    <%= image_tag 'util/logo.png' %>
  </div>
</div>