
<div class="flex">

	<%= image_tag 'artplate.png' %>
	<div class="w-[100vw] h-[100vh] flex flex-col font-ebgaramond text-white gap-12 p-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-50 w-full h-1"></div>

		<%= link_to artists_jzich_path do %>
			<div class="flex gap-4">
				<p class="font-tinos flex items-center justify-end w-40">jane</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-playfair">ZICH</p>
			</div>
		<% end %>

		<%= link_to artists_gjg_path do %>
		<div class="flex gap-4">
			<p class="font-tinos flex items-center justify-end w-40">g.j.</p>
			<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
			<p class="flex items-center font-playfair">GILLESPIE</p>
		</div>
		<% end %>
	</div>

</div>