<div class="w-[100vw] h-[100vh] flex flex-col font-ebgaramond text-white">
	<%= link_to artists_jzich_path do %>
		<div class="flex gap-4">
			<p class="font-tinos">jane</p>
			<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-2"></div>
			<p>ZICH</p>
		</div>
	<% end %>

	<%= link_to artists_gjg_path do %>
	<div class="flex gap-4">
		<p class="font-tinos">g.j.</p>
		<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-2"></div>
		<p>GILLESPIE</p>
	</div>
	<% end %>
</div>