
<div class="flex">

	<%= image_tag 'util/artplate.png' %>
	<div class="w-[100vw] h-[100vh] flex flex-col font-inter text-white gap-8 pt-20 md:p-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-50 w-full h-1"></div>

		<%= link_to artists_jzich_path do %>
			<div class="flex gap-2">
				<p class="flex items-center justify-end w-20 md:w-40 text-slate-300">jane</p>
				<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
				<p class="flex items-center font-black">ZICH</p>
			</div>
		<% end %>

		<%= link_to artists_gjg_path do %>
		<div class="flex gap-2">
			<p class="flex items-center justify-end w-20 md:w-40 text-slate-300">g.j.</p>
			<div class="bg-gradient-to-b from-slate-400 to-gray-50 w-1 h-12"></div>
			<p class="flex items-center font-black">GILLESPIE</p>
		</div>
		<% end %>
	</div>

</div>