<div class="flex flex-col justify-start w-full gap-12 text-4xl text-white">
  <div class="font-inter">
    <p>Inter Tight</p>
    <p class="font-thin">lone mountain literary society</p>
    <p class="font-extralight">lone mountain literary society</p>
    <p class="font-light">lone mountain literary society</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
    <p class="font-extrabold">lone mountain literary society</p>
    <p class="font-black">lone mountain literary society</p>
  </div>
  <div class="font-montserrat">
    <p>Montserrat</p>
    <p class="font-thin">lone mountain literary society</p>
    <p class="font-extralight">lone mountain literary society</p>
    <p class="font-light">lone mountain literary society</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
    <p class="font-extrabold">lone mountain literary society</p>
    <p class="font-black">lone mountain literary society</p>
  </div>
  <div class="font-nunito">
    <p>Nunito</p>
    <p class="font-extralight">lone mountain literary society</p>
    <p class="font-light">lone mountain literary society</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
    <p class="font-extrabold">lone mountain literary society</p>
    <p class="font-black">lone mountain literary society</p>
  </div>
  <div class="font-playfair">
    <p>Playfair Display</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
    <p class="font-extrabold">lone mountain literary society</p>
    <p class="font-black">lone mountain literary society</p>
  </div>
  <div class="font-tinos">
    <p>Tinos</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
  </div>
  <div class="font-abril">
    <p>Abril Fatface</p>
    <p class="font-normal">lone mountain literary society</p>
  </div>
  <div class="font-garamond">
    <p>Cormorant Garamond</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
  </div>
  <div class="font-ebgaramond">
    <p>EB Garamond</p>
    <p class="font-normal">lone mountain literary society</p>
    <p class="font-medium">lone mountain literary society</p>
    <p class="font-semibold">lone mountain literary society</p>
    <p class="font-bold">lone mountain literary society</p>
  </div>
</div>
