<div class="flex">

	<%= image_tag 'poetryplate.png' %>
	<div class="h-[100vh] w-[100vw] flex flex-col text-white font-ebgaramond gap-12 p-20 pr-0">

		<div class="bg-gradient-to-r from-slate-400 to-gray-50 w-full h-1"></div>

	</div>
</div>